# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\lxy\ÖÇÄÜÅÅ¿ÎÏµÍ³\CoursesScheduleGA-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
